<mat-card-header class="director-card-header">
    <mat-card-title>{{ data.Name }}</mat-card-title>
</mat-card-header>
<mat-card-content class="director-card-content">
    <table>
        <tr VALIGN=TOP>
            <td>
                <h4>Bio:</h4>
            </td>
            <td><br>{{ data.Bio }}</td>
        </tr>
        <tr>
            <td>
                <h4>Birth:</h4>
            </td>
            <td>{{ data.Birth }}</td>
        </tr>
        <tr>
            <td>
                <h4>Death:</h4>
            </td>
            <td>{{ data.Death }}</td>
        </tr>
    </table>
</mat-card-content>