<mat-toolbar class="navbar" role="heading">
    <button mat-button (click)="openMovies()">
        <span>myMovie</span>
    </button>
    <span class="spacer"></span>
    <button class="nav-icon-button" mat-icon-button (click)="openMovies()" aria-label="icon-button for logout">
        <mat-icon>local_movies</mat-icon>
    </button>
    <button class="nav-icon-button" mat-icon-button  (click)="openProfile()" aria-label="icon-button for profile">
        <mat-icon>person_outline</mat-icon>
    </button>
    <button class="nav-icon-button" mat-icon-button  (click)="logoutUser()" aria-label="icon-button for logout">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>